<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ABCpdf" version="8.1.2.0" targetFramework="net40" />
  <package id="AutoMapper" version="2.2.0" targetFramework="net40" />
  <package id="Codaxy.WkHtmlToPdf" version="0.5.3" targetFramework="net40" />
  <package id="elmah" version="1.2.0.1" />
  <package id="elmah.corelibrary" version="1.2" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.3" />
  <package id="iTextSharp" version="5.3.3" targetFramework="net40" />
  <package id="LinqKit" version="1.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="PagedList" version="1.10" />
  <package id="PDFsharp-MigraDoc-GDI" version="1.32.3879.0" targetFramework="net40" />
  <package id="WebActivator" version="1.5" />
</packages>