@model MotorMart.Web.Models.CmsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.CurrentSitemap.title</h2>
<div class="page-text">
    <div class="main-content">
        @Html.HtmlContent(Model.CurrentSitemap.staticcontent.content)
        @Html.Partial("_SocialMediaButtons")
    </div>
    @*@Html.Partial("SideSearchFilters", Model.vehiclesearch)*@

    <p>@DistanceHelper.ClearEmptyTag()</p>
</div>
